/*
GLOBAL
*/
.make-bold {
    font-family: Barlow-Bold;
}

.make-regular {
    font-family: Barlow-Regular;
}

.required-field {
    color: red;
}

.login-cont {
    margin-top: 25%;
}

.registro-cont {
    margin-top: 6%;
}

/*
NAVBAR
 */
.navigation {
    display: flex;
    background-color: white;
    height: 80px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: left;
}

.navbar-logo {
    width: 70px;
    height: 70px;
}

.nav-options-container {
}

.nav-list {
    list-style: none;
    display: flex;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.nav-item {
    margin: 0 10px 0 10px;
    padding: 10px;
}

.user-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
BOTONES
 */
.btn-evento-height{
    height: 50px;
}

/*
TABS
 */
.tab-list {
    margin-bottom: 0;
    padding-left: 0;
}

.tab-list-item {
    background-color: #b6b6b6;
    display: inline-block;
    width: 50%;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
}
.tab-list-item:hover {
    cursor: pointer;
}

.tab-list-active {
    background-color: white;
    border-width: 1px 1px 0 1px;
}
/*
TABLAS
 */
.table-header th{
    font-family: Barlow-Regular;
    color: white;
    text-align: center !important;
    align-content: center;
    padding: 3px !important
}

.table-body {
    font-family: Barlow-Regular;
    max-height: 300px;
    min-height: 300px;
    height: 300px;
    overflow-y: scroll;
}

.table-body .react-bs-table-no-data {
    border: none;
}